
/* FEATURES */
* {
    margin: 0;
    padding: 0;
}
:root {
    --dark: #262c32;
    --light: #FFFFF0;
    --primary-1: #DB00A4;
    --primary-2: #14E6EB;
    --secondary: #F0DC29;
    --positive: #99D34F;
    --intermediate: #D3AE4F;
    --negative: #D34F4F;

}
body {
    font-family: 'Poppins'; /*Title*/
    font-family: 'Alegreya Sans';  /* Text */
    font-family: 'Corinthia'; /* Quote */
    background: var(--light)
}
a {
    text-decoration: none;
    cursor:pointer;
    
}
button {
    cursor: pointer;
}

/* HEADER' STYLES */

header {
    width: 100%;
    height: 100px;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 36px 0px 36px 0px;
}
.nav-bar-center{
    display: flex;
    
}
.nav-bar-right{
    display: flex;
    margin-right: 40px;

}
/* header nav .nav-bar {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
} */
.button-menu {
    display: flex;
}
#logo {
    width: 320px;
}
#button-menu{
    width: 64px;
}

/* HERO' STYLES */

main {
    text-align: center;
    display: grid;
    margin: 12px 74px 24px 74px;
    border-top: 1px solid var(--dark);
    padding-top: 16px;
}
.container-info {
    display: flex;
    justify-content: space-between;
}
.intro, 
.dream {
    text-align: start;
}
.intro {
    margin-bottom: 16px;
}
.description {
    width: 377px;
}
.button-and-photo{
    display: grid;
    justify-content: end;
    margin-right: 232px
}
.button-blog{
    width: 204px;
    margin: 0 auto;
    height: 36px;
    background: #262c32;
    border: 0;
    font-size: 32px;
    color: var(--light);
    border-radius: 40px;
    
    margin: 40px 0px 40px 0px;
}
.plan {
    display: flex;
    justify-content: start;
    list-style: none;
    font-family: 'Courier New', Courier, monospace ;
}
.quote-block{
    margin: 20px 0px 60px 0px;
}
#social-icons {
    list-style: none;
    display: flex;
    justify-content: end;
    margin-right: 40px;
    
}
.social-icon {
    margin-left: 24px;
}