
/* FEATURES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark: #262c32;
    --light: #FFFFF0;
    --primary-1: #DB00A4;
    --primary-2: #14E6EB;
    --secondary: #F0DC29;
    --positive: #99D34F;
    --intermediate: #D3AE4F;
    --negative: #D34F4F;
}
body {
    font-family: 'Poppins'; /*Title*/ 
    font-family: 'Alegreya Sans'; /*Text*/ 
    font-family: 'Corinthia', cursive; /*Quote*/ 
    background: var(--light)
}

/* HEADER' STYLES */

#header {
    width: 70%;
    border-bottom: #262c32 solid 4px;
    
}
#logo {
    width: 320px;

}
#button-menu{
    width: 60px;
    align-items: right;
}

/* HERO' STYLES */

